/* full-bleed map */

body {
  padding: 0;
  margin: 0;
  overflow: hidden;   /* for scrollbars on safari */
}

html, body {
  height: 100%;
  width: 100vw;
  min-width: 320px;
}

#map {
  height: calc(100% - 50px);
  width: 100vw;
}

/* blending modes for index layers */

.blend_multiply { mix-blend-mode: multiply; }
.blend_color { mix-blend-mode: color; }
.blend_difference { mix-blend-mode: difference; }
.blend_overlay { mix-blend-mode: overlay; }
.blend_normal { mix-blend-mode: normal; }

/* header bar */

header {
  height: 50px;
  width: calc(100vw - 20px);
  padding: 0 10px;

  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;

  background-color: #222;
  color: #eee;
}

h1, header ul, button {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  margin: 0;
}

p, ul, ol {
  font-family: 'Lora', serif;
  font-size: 1em;
  line-height: 1.5em;
}

header h1 {
  font-size: 1.5em;
  color: #eee;
  text-decoration: none;
}

header ul {
  font-size: 1.25em;
  list-style-type: none;
  color: #999;
  cursor: pointer;
}

header ul li {
  display: inline-block;
}

header ul li.toggled_on {
  color: #eee;
}

header ul li + li:before {
  content: '|';
  padding-right: 10px;
  padding-left: 8px;
}

.action_bar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

button.btn_close, button.btn_close:hover {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  font-size: 3.5em;
}

button.btn_close { color: #999; }
button.btn_close:hover { color: #eee; }

/* (squish the nav a bit on really small phones!) */

@media screen and (max-width: 380px) {
  header h1 {
    font-size: 1.5em;
    color: #eee;
    text-decoration: none;
  }
  
  header ul {
    font-size: 1em;
    list-style-type: none;
    color: #999;
  }
  
  header ul li {
    display: inline-block;
  }
  
  header ul li + li:before {
    content: '|';
    padding-right: 10px;
    padding-left: 8px;
  }
}

/* about screen */
div#about {
  display: none;    /* switch to display: block on toggle */
  
  z-index: 1000;
  position: absolute;
  top: 100px;
  margin: 0;
  padding: 20px;
  width: calc(100vw - 40px);
  height: calc(100vh - 100px);
  overflow-x: hidden;
  overflow-y: auto;

  background-color: rgba(0, 0, 0, 0.9);
  color: #eee;
}

div#about.toggled_on {
  display: block;
}

/* controls: layers and time */

.leaflet-top.leaflet-left {
  background-color: gold;
  min-height: 50px;
  width: calc(100vw - 20px);
  padding: 0 10px;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;

  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.25);
}

.leaflet-top.leaflet-left .leaflet-bar-timecontrol,
.leaflet-top.leaflet-left .leaflet-control-layers
{
  margin: 0;
  border: 0;
  box-shadow: none;
  background: none;
  display: flex;
  align-items: center;

  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-size: 1.25em;
}

/* index/time selection bar */

.leaflet-top.leaflet-left .leaflet-bar-timecontrol {
  order: 1;
  flex: 1;
}

.leaflet-bar-timecontrol .leaflet-control-timecontrol {
  background: none;
  border: 0;
  color: #444;
  flex: 0 0 30px;
}

.leaflet-bar-timecontrol .leaflet-control-timecontrol:hover {
  background: none;
  border: 0;
  color: black;
  flex: 0 0 30px;
}

a.leaflet-control-timecontrol.timecontrol-date,
a.leaflet-control-timecontrol.timecontrol-date:hover {
  min-width: 70px;
  width: auto;
  padding-left: 30px;
}

a.leaflet-control-timecontrol.timecontrol-date.loading {
  background-color: gold;
}

a.leaflet-control-timecontrol.timecontrol-date.loading:before {
  top: 1px;
}

.leaflet-control-timecontrol.timecontrol-slider {
  flex: 1 1 200px;
}

.leaflet-control-timecontrol.timecontrol-slider .slider {
  height: 2px;
  width: 100%;
  margin-top: 14px;
  margin-left: 0px;
  background-color: #666;
  border: none;
}

.leaflet-control-timecontrol.timecontrol-slider .slider .knob {
  height: 8px;
  border-radius: 4px;
  background-color: #666;
  /* border: none; */
  margin-top: -3px;
  border: 1px solid #666;
}

/* layer controls */

.leaflet-control-layers-expanded, .leaflet-control-layers-expanded:hover {
  padding: 0;
}

.leaflet-control-layers-expanded a.leaflet-control-layers-toggle,
.leaflet-control-layers-expanded a.leaflet-control-layers-toggle:hover {
  display: block;
}

.leaflet-control-layers-expanded form.leaflet-control-layers-list {
  background-color: gold;
  position: absolute;
  top: 50px;
  width: 125px;
  padding: 5px 0;

  box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.15);
}

form.leaflet-control-layers-list label {
  /* border: 2px solid red; */
  padding: 5px 10px;
}

form.leaflet-control-layers-list label:hover {
  background-color: goldenrod;
}

form.leaflet-control-layers-list input[type="radio"] {
  display: none;
}

form.leaflet-control-layers-list input[type="radio"]:checked + span::before {
  content: '>';
}

form.leaflet-control-layers-list input[type="radio"]:disabled + span::before {
  content: 'X';
}

/* attribution and zoom (mostly just push the zoom control up a bit on narrow
   screens */

@media screen and (max-width: 450px) {

  .leaflet-bottom.leaflet-left .leaflet-control-zoom {
    margin-bottom: 26px;
  }
}

@media screen and (max-width: 405px) {

  .leaflet-bottom.leaflet-left .leaflet-control-zoom {
    margin-bottom: 42px;
  }
}